# LIGA FANTASY ANALYTICS

![imag](https://www.laligafantasymarca.com/assets/marca/img/logos/logo-fantasy-marca.png)

# DATA ANALYSIS

## imports

In [2]:
import sqlite3 as db
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', 500)


#import soccerdata as sd

## read data

In [51]:
query = '''
SELECT Name,Position,Price,Team,PSFY_current,PSFY_last_year,Date_actua
FROM players_price
WHERE Date_actua = (SELECT MAX(Date_actua) FROM players_price)
'''

In [52]:
conn = db.connect('../data/daily_price.db')
df = pd.read_sql_query (query, conn)
conn.close()

In [54]:
df = df.astype({'Name': 'str','Position': 'category','Price':'int','Team':'category',\
    'PSFY_current':'int','PSFY_last_year':'int','Date_actua': 'datetime64' }, errors='ignore')
df['PSFY_last_year'] = pd.to_numeric(df['PSFY_last_year'],errors='coerce', downcast='integer')

c:\Users\atell\anaconda3\envs\fantasy\lib\site-packages\pandas\core\tools\datetimes.py:1063: UserWarning: Parsing '28/08/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)

In [55]:
df.dtypes

Name                      object
Position                category
Price                      int32
Team                    category
PSFY_current               int32
PSFY_last_year           float64
Date_actua        datetime64[ns]
dtype: object

In [56]:
df

,Name,Position,Price,Team,PSFY_current,PSFY_last_year,Date_actua
0,Oblak,POR,38607169,Atlético De Madrid,9,173.0,2022-08-28
1,Unai Simón,POR,30578958,Athletic Club,16,201.0,2022-08-28
2,Ter Stegen,POR,40841193,FC Barcelona,16,197.0,2022-08-28
3,Iván Villar,POR,930007,RC Celta,0,NaN,2022-08-28
4,David Soria,POR,16469045,Getafe CF,6,212.0,2022-08-28
...,...,...,...,...,...,...,...
491,Emery,ENT,2115487,Villarreal CF,12,NaN,2022-08-28
492,Pacheta,ENT,766920,Real Valladolid CF,3,NaN,2022-08-28
493,Rubi,ENT,744119,UD Almería,9,NaN,2022-08-28
494,Michel,ENT,709305,Girona FC,5,NaN,2022-08-28
495,Ernesto Valverde,ENT,2279183,Athletic Club,8,NaN,2022-08-28

In [57]:
df.describe()

              Price  PSFY_current  PSFY_last_year
count  4.960000e+02    496.000000      364.000000
mean   9.703334e+06      6.233871       97.456044
std    1.314391e+07      6.628508       61.828749
min    2.639100e+05     -6.000000       -1.000000
25%    1.644550e+06      0.000000       48.000000
50%    4.193215e+06      4.000000       95.000000
75%    1.261513e+07     10.250000      139.250000
max    9.507084e+07     32.000000      308.000000